
.viewParentDiv {
  padding-top: 4em;
  display: flex;
}
.viewParentDiv .imageShowDiv {
  padding: 16px;
  width: 70vw;
}
.viewParentDiv .imageShowDiv img {
  width: 65vw;
  height: 85vh;
}

.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 3em;
  width: 30vw;
}
.button{
  display: flex;
  padding-top: 5px;
  justify-content:space-evenly;
  

}
/* CSS */
.button-3 {
  appearance: none;
  background-color: #8561e9;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(35, 31, 27, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.button-3:hover {
  background-color: #2c974b;
}
.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

  .productDetails {
  border: 1px solid black;
  padding: 2px;
  border-radius: 6px;
  margin-bottom: 1em;
  width: 100%;
}

  .contactDetails {
  border: 1px solid black;
  border-radius: 6px;
}

.viewParentDiv  .contactDetails {
  font-size: 17px;
  line-height: 24px;
  padding: 0;
}
