.header {
  background-color: #ebeeef;;
  min-width: 100%;
  height: 58px;
  padding: 10px 46px;
  position: fixed;
  margin: 0 auto;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
}
.headerchaild {
  display: flex;
  align-items: center;
}

.searchicon {
  width: 16em;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: 2px solid #002f34;
  border-radius: 4px;
  background-color: white;
  margin-top: -14px;
  margin-left: 22px;
}
._1dasd {
  height: 40px;
  width: 100%;
  outline: 0;
  border-width: 0;
  font-size: 16px;
  color: #002f34;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
  padding: 0 0 0 16px;
}

.Searchicon ::selection {
  border-color: #23e5db;
  outline-color: #23e5db;
}
.product {
  width: 32em;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: 2px solid #002f34;
  border-radius: 4px;
  background-color: white;
  margin-top: -14px;
  margin-left: 22px;
}
.serach {
  min-width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  background-color: #002f34;
  border-radius: 0 4px 4px 0;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
}
._3G1kR {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: #002f34;
  margin-left: 15px;
}
.language {
  display: flex;
  width: 9%;
  cursor: pointer;
  color: #002f34;
  justify-content: flex-end;
}
.loginPage hr {
  margin: 0;
  background-color: black;
  height: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.loginPage {
  margin-left: 16px;
  color: #002f34;
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;

}
.logout{
  margin-left: 10px;
  color: #002f34;
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.sellMenu {
  position: relative;
  cursor: pointer;
  margin-left: 18px;

}

.sellMenu .all {
  fill: white;

}

.sellMenu .top {
  fill: #23e5db;
}

.sellMenu .left {
  fill: #ffce32;
}

.sellMenu .right {
  fill: #3a77ff;
}
.sellMenu .sellMenuContent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #002f34;
}
.sellMenu .sellMenuContent span {
  margin-left: 5px;
}

._25SUV ._32cGm.HKswn {
  fill: #3a77ff;
}
._25SUV ._32cGm._1DrSr {
  fill: #23e5db;
}
._25SUV ._32cGm._3XfCS {
  fill: #ffce32;
}
._25SUV ._32cGm._3Vwmt {
  fill: #fff;
}
