.categeory {
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: #002f34;
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.arrowbtn {
  text-align: center;
  transition: transform 0.5s;
  margin-left: 12px;
}
.otherlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 152px);
  margin: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 32px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  color: #002f34;
  text-decoration: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.parrentdiv {
  padding-top: 4em;
  padding: 68px 16px 0;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  margin: 0 0 4px;
}


.chailddiv {
  display: flex;
  min-width: 100%;
}
.list {
  display: flex;
  align-items: center;
  min-width: 100%;
  margin-top: 2px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: #002f34;
}
.menubar {
  min-width: 100%;
  -webkit-tap-highlight-color: transparent;
  color: #002f34;
   height: "300px",
}
.bannerimg {
 max-width: 100%;
   
}
